# git ls-files --others --exclude-from=.gitignore
# Lines that start with '#' are comments.
*~
*.iso
.Trash-999
boot/deltadir/lib/firmware
boot/grub/fonts/
boot/grub/i386-pc/
boot/grub/locale/
boot/deltadir/usr/bin/*
*ExtensionImage
*/initramfs
*/grub.cfg
